@charset "UTF-8";
	html,body{
    	overflow-x: hidden;
		}
/*Header*/
	#header{margin-top:7rem;}
	.header{
		background-color:white;
		width: 100%;
    	height: 100%;
    	}
	.header .title{
		margin-top:4rem;}
	.header-text h1{
		text-align:left;
		font-size: 4rem;
		font-weight: bold;
		color: #301c50;}
	.header-text p{
		text-align:left;
		margin-top: 1rem;
		font-size:1.15rem;}
	@media screen and (max-width:1000px){
		.header-text h1,
		.header-text p{
			text-align:center !important;}
		}
	.header-text{
		margin-bottom: 2rem;}
	.box{
		margin-top:2rem;
		}
	.box span{
		background-color: white;
		color: #7d33f6;
		display:inline-block;
		width:12.5rem;
		text-align:center;
		font-size:1.2rem;
		border: 2px solid #7d33f6;
		border-radius: 35px;
		padding: 15px 31px 15px 31px;
		}
	@keyframes in{
		from{background-color: #7d33f6;
			color: white;}
		to{background-color: white;
			color: #7d33f6;}
		}
	.box #a:hover{
		animation-name: in;
		animation-play-state: running;
		animation-duration: 0.75s;
  		animation-fill-mode: forwards;
  		}
  	.box #a{
  		margin-right: 8px;
  		margin-bottom: 1rem;
  		background-color: #7d33f6;
		color: white;
		animation-play-state: paused;}
	@media screen and (max-width:750px){
		.box{text-align:center;}}
	.header a:link{
		text-decoration: none;
		color: #7d33f6;}
	.header a:visited{color: #7d33f6;}
	.header-img img{
		max-width:100%;
 		width:100%;}
	
	.brand{
		margin-top: 45px;
	}
	.brand .row{margin-left:2rem;}
	.brand img{
	margin-right:3rem;
	width: 8rem;
	margin-bottom: 2rem;}
/*Header end*/
/*Feature*/	
	#feature{
		background-color:#faf6fe;
		padding-bottom: 3rem;
		width: 100%;
    	height: 100%;
    	background-size: cover;
		}
	.feature .list{
		margin-top:0.75rem;}
	.feature-title h6{
		color:#771ee1;
		font-weight: bold;
		font-size: 1rem;
		margin-top: 4rem;
		text-align:center;}
	.feature-title h2{
		color: #301c50;
		font-size: 2.8rem;
		font-weight: bold;
		text-align:center;
	}
	.feature-img{
		margin-top:2rem;
		margin-bottom:2rem;
		}
	@media screen and (min-width:1200px){
		.feature-img{
			margin-top:-1rem;}
		.feature-list{
			width:45rem;}
		}
	.feature-list-top{
		margin-left:1.8rem;
		width:40rem;
		margin-bottom:1.5rem;}
	.feature-list-bottom{
		margin-left:1.8rem;
		width:40rem;}
	@media screen and (max-width:750px){
		.feature-list-top,
		.feature-list-bottom{
			width:100%;
			margin-top:-1.2rem;}
			}
	.feature .bullet h3{
		white-space: nowrap;
		font-size: 1.9rem;
		font-weight: bold;
		color:#301c50;
		text-align: left;
		}
	.feature .bullet p{
		font-size:1.05rem;
		color:#8b90a3;
		}
	@media screen and (max-width:750px){
		.bullet p, .bullet h3{width:80%;}}
/*Feature end*/
